*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-size-modal: 2rem;
  --font-family: Dynapuff, sans-serif;
  --background-pink: rgb(255, 240, 242);
  --font-color: rgb(116, 0, 87);
  --occupied-color: rgba(240, 180, 255, 0.8);
  --hit-color: rgb(255, 155, 155);
}

body {
  font-family: var(--font-family);
  color: var(--font-color);
  position: relative;
}

.modal-one {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: none;
  border-radius: 10px 10px 200px 200px;
  width: clamp(10rem, 60rem, 80rem);
  height: 30rem;
  padding: 2rem;
  background-color: var(--background-pink);
  color: var(--font-color);
  animation: fadeIn 1s;
}

.modal-two {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: none;
  border-radius: 10px 10px 200px 200px;
  width: clamp(10rem, 60rem, 80rem);
  height: 30rem;
  padding: 3rem;
  background-color: var(--background-pink);
  color: var(--font-color);
  animation: fadeIn 1s;
}

.modal-one::backdrop {
  background-color: white;
}

.modal-two::backdrop {
  background-color: white;
}

.form-one {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-two {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-two button {
  width: 10rem;
  height: 4.5rem;
  border: none;
  border-radius: 20px;
  font-family: var(--font-family);
  font-size: var(--font-size-modal);
  background-color: var(--font-color);
  color: white;
  transition: 0.2s ease-in-out;
}

.form-two img {
  width: 10rem;
  transition: 0.2s ease-in-out;
}

.form-two img:hover {
  rotate: 20deg;
}

.form-two button:hover {
  cursor: pointer;
  filter: brightness(125%);
  scale: 115%;
}

.winner-text {
  font-size: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  font-size: var(--font-size-modal);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.text-container img {
  width: 5rem;
  transition: 0.2s ease-in-out;
}

.text-container img:hover {
  rotate: 20deg;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.button-container input {
  width: 18rem;
  height: 3rem;
  border-radius: 5px;
  border: none;
  padding: 1rem;
  outline: none;
  font-family: var(--font-family);
  font-size: var(--font-size-modal);
  color: var(--font-color);
}

.button-container button {
  width: 10rem;
  height: 4.5rem;
  border: none;
  border-radius: 20px;
  font-family: var(--font-family);
  font-size: var(--font-size-modal);
  background-color: var(--font-color);
  color: white;
  transition: 0.2s ease-in-out;
}

.button-container button:hover {
  cursor: pointer;
  filter: brightness(110%);
  scale: 105%;
}

.header {
  font-size: var(--font-size-modal);
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--background-pink);
}

.header img {
  width: 5rem;
  transition: 0.2s ease-in-out;
}

.header img:hover {
  rotate: 20deg;
}

.content {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-modal);
  padding: 2rem;
  gap: 9rem;
  animation: 3s fadeIn;
}

.addShips {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.block {
  border: 1px solid black;
  width: 2.5rem;
  height: 2.5rem;
}

.playerBoard,
.computerBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell {
  border: var(--font-color) 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
}

.cell:hover {
  cursor: crosshair;
  filter: brightness(85%);
}

.playerSide {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.aiSide {
  display: none;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  animation: 0.7s fadeIn;
}

.rotate {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.rotate button {
  background-color: var(--font-color);
  border: none;
  border-radius: 40px;
  padding: 0.5rem;
  color: var(--background-pink);
  font-family: var(--font-family);
  transition: 0.1s ease-in-out;
}

.rotate button:hover {
  cursor: pointer;
  scale: 105%;
  filter: brightness(105%);
}

.rotated {
  display: flex;
}

.occupied {
  background-color: var(--occupied-color);
  background-image: url(./images/mark.svg);
}

.grab {
  background-color: var(--background-pink);
}

.grab:hover {
  filter: brightness(95%);
  cursor: grab;
}

.hit {
  background-image: url(./images/mark.svg);
  background-color: var(--hit-color);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0%;
  }

  70% {
    scale: 110%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}

@media screen and (max-width: 600px) {
  .cell {
    width: 30px;
    height: 30px;
  }
  .block {
    width: 30px;
    height: 30px;
  }

  .content {
    flex-direction: column;
    padding-inline: 0;
    padding-block: 1rem;
    gap: 2rem;
  }

  .addShips {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
  }

  .playerBoard {
    width: 300px;
    height: 300px;
    margin: auto;
  }

  .computerBoard {
    width: 300px;
    height: 300px;
    margin: auto;
  }

  .header {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .header h1 {
    font-size: 3rem;
  }

  .modal-one {
    height: 40rem;
  }

  .modal-two {
    height: 40rem;
  }
  .modal-one h1 {
    font-size: 2rem;
  }
  .winner-text {
    font-size: 4rem;
  }
  .modal-one input {
    width: 13rem;
  }
}
